In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Sentiment_Analysis/Sentiment_DATASET.csv')
print(df)

      field_publication_date  \
0        2022-05-27 09:09:12
1        2022-05-27 08:42:18
2        2022-05-27 08:25:07
3        2022-05-26 10:48:00
4        2022-05-26 10:11:00
...                      ...
19995    2021-04-07 02:59:42
19996    2021-04-07 00:40:40
19997    2021-04-07 02:58:00
19998    2021-04-07 02:44:48
19999    2021-04-07 02:47:19

                                                   title  \
0      'How do you shoot my baby?': Medic finds out d...
1      'They told me to apply tomato sauce on my body...
2      Elvis film director calls Presley family respo...
3      Indonesian mum under fire for feeding baby dis...
4      Tanks, but no ammo - Germany's Ukraine pledges...
...                                                  ...
19995  Hong Kong police arrest man, woman after home-...
19996  SIA stewardess gives up high-flying job to car...
19997  8 hobo bags to make a fashionable entrance bac...
19998  Children could be silent carriers of Covid-19 ...
19999  Truck landed on train track minute before dead...

                                                    body  \
0      It was just like any other Tuesday morning for...
1      SINGAPORE - When fraudsters posing as Immigrat...
2      CANNES, France — Film director Baz Luhrmann sa...
3      Parents are generally encouraged to include so...
4      BERLIN — Four weeks ago, Germany agreed to sen...
...                                                  ...
19995  Hong Kong police have arrested a man and woman...
19996  SINGAPORE - For 14 years, Ms Sandra Goh was a ...
19997  As more employees stream back into the workpla...
19998  Children could be more contagious silent carri...
19999  TAIPEI - The truck which collided with a Taiwa...

                                                    path       catagory
0      /world/how-do-you-shoot-my-baby-medic-finds-ou...          world
1      /singapore/they-told-me-apply-tomato-sauce-my-...      singapore
2      /entertainment/elvis-film-director-calls-presl...  entertainment
3      /asia/indonesian-mum-under-fire-feeding-baby-d...           asia
4      /world/tanks-no-ammo-germanys-ukraine-pledges-...          world
...                                                  ...            ...
19995  /china/hong-kong-police-arrest-man-woman-after...          china
19996  /lifestyle/sia-stewardess-gives-high-flying-jo...      lifestyle
19997  /lifestyle/8-hobo-bags-make-fashionable-entran...      lifestyle
19998  /china/children-could-be-silent-carriers-covid...          china
19999  /asia/truck-landed-train-track-minute-deadly-t...           asia

[20000 rows x 5 columns]

In [ ]:
import pandas as pd
import re
import string
import numpy as np 
import random
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from wordcloud import WordCloud
from textblob import TextBlob

**Data Preprocessing and Data Cleaning**

In [ ]:
import nltk
from nltk.stem import WordNetLemmatizer
lemma = WordNetLemmatizer()
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Lowercase

In [ ]:
df['title']=df['title'].str.lower()
df['title'].head()

0    'how do you shoot my baby?': medic finds out d...
1    'they told me to apply tomato sauce on my body...
2    elvis film director calls presley family respo...
3    indonesian mum under fire for feeding baby dis...
4    tanks, but no ammo - germany's ukraine pledges...
Name: title, dtype: object

In [ ]:
df['body']=df['body'].str.lower()
df['body'].head()

0    it was just like any other tuesday morning for...
1    singapore - when fraudsters posing as immigrat...
2    cannes, france — film director baz luhrmann sa...
3    parents are generally encouraged to include so...
4    berlin — four weeks ago, germany agreed to sen...
Name: body, dtype: object

Cleaning and Removing Stopwords

In [ ]:
STOPWORDS = set(stopwords.words('english'))
def cleaning_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])
df['title'] = df['title'].apply(lambda text: cleaning_stopwords(text))
df['title'].head()
## removing stopwords from column title

0    'how shoot baby?': medic finds daughter killed...
1    'they told apply tomato sauce body look injure...
2    elvis film director calls presley family respo...
3    indonesian mum fire feeding baby dish 25 chill...
4    tanks, ammo - germany's ukraine pledges show m...
Name: title, dtype: object

In [ ]:
STOPWORDS = set(stopwords.words('english'))
def cleaning_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])
df['body'] = df['body'].apply(lambda text: cleaning_stopwords(text))
df['body'].head()
## removing stopwords from column body

0    like tuesday morning angel garza, woke early d...
1    singapore - fraudsters posing immigration chec...
2    cannes, france — film director baz luhrmann sa...
3    parents generally encouraged include fibre chi...
4    berlin — four weeks ago, germany agreed send d...
Name: body, dtype: object

In [ ]:
import string
english_punctuations = string.punctuation
punctuations_list = english_punctuations
def cleaning_punctuations(text):
    translator = str.maketrans('', '', punctuations_list)
    return text.translate(translator)
df['title']= df['title'].apply(lambda x: cleaning_punctuations(x))
df['title'].head()

0    how shoot baby medic finds daughter killed tex...
1    they told apply tomato sauce body look injured...
2    elvis film director calls presley family respo...
3    indonesian mum fire feeding baby dish 25 chill...
4    tanks ammo  germanys ukraine pledges show mili...
Name: title, dtype: object

In [ ]:
import string
english_punctuations = string.punctuation
punctuations_list = english_punctuations
def cleaning_punctuations(text):
    translator = str.maketrans('', '', punctuations_list)
    return text.translate(translator)
df['body']= df['body'].apply(lambda x: cleaning_punctuations(x))
df['body'].head()

0    like tuesday morning angel garza woke early dr...
1    singapore  fraudsters posing immigration check...
2    cannes france — film director baz luhrmann sai...
3    parents generally encouraged include fibre chi...
4    berlin — four weeks ago germany agreed send do...
Name: body, dtype: object

In [ ]:
def cleaning_repeating_char(text):
    return re.sub(r'(.)1+', r'1', text)
df['body'] = df['body'].apply(lambda x: cleaning_repeating_char(x))
df['body'].head()

0    like tuesday morning angel garza woke early dr...
1    singapore  fraudsters posing immigration check...
2    cannes france — film director baz luhrmann sai...
3    parents generally encouraged include fibre chi...
4    berlin — four weeks ago germany agreed send do...
Name: body, dtype: object

In [ ]:
def cleaning_numbers(data):
    return re.sub('[0-9]+', ' ', data)
df['body'] = df['body'].apply(lambda x: cleaning_numbers(x))
df['body'].head()

0    like tuesday morning angel garza woke early dr...
1    singapore  fraudsters posing immigration check...
2    cannes france — film director baz luhrmann sai...
3    parents generally encouraged include fibre chi...
4    berlin — four weeks ago germany agreed send do...
Name: body, dtype: object

In [ ]:
def transform_text(text):
    return ' '.join([word for word in text.split() if len(word) > 2])
df['title'] = df['title'].apply(lambda x: transform_text(x))
df['title'].head()

0    how shoot baby medic finds daughter killed tex...
1    they told apply tomato sauce body look injured...
2    elvis film director calls presley family respo...
3    indonesian mum fire feeding baby dish chilli p...
4    tanks ammo germanys ukraine pledges show milit...
Name: title, dtype: object

In [ ]:
def transform_text(text):
    return ' '.join([word for word in text.split() if len(word) > 2])
df['body'] = df['body'].apply(lambda x: transform_text(x))
df['body'].head()

0    like tuesday morning angel garza woke early dr...
1    singapore fraudsters posing immigration checkp...
2    cannes france film director baz luhrmann said ...
3    parents generally encouraged include fibre chi...
4    berlin four weeks ago germany agreed send doze...
Name: body, dtype: object

In [ ]:
from nltk.tokenize import TweetTokenizer

tt = TweetTokenizer()
df['title']=df['title'].apply(tt.tokenize)
df['title'].head()

0    [how, shoot, baby, medic, finds, daughter, kil...
1    [they, told, apply, tomato, sauce, body, look,...
2    [elvis, film, director, calls, presley, family...
3    [indonesian, mum, fire, feeding, baby, dish, c...
4    [tanks, ammo, germanys, ukraine, pledges, show...
Name: title, dtype: object

In [ ]:
from nltk.tokenize import TweetTokenizer

tt = TweetTokenizer()
df['body']=df['body'].apply(tt.tokenize)
df['body'].head()

0    [like, tuesday, morning, angel, garza, woke, e...
1    [singapore, fraudsters, posing, immigration, c...
2    [cannes, france, film, director, baz, luhrmann...
3    [parents, generally, encouraged, include, fibr...
4    [berlin, four, weeks, ago, germany, agreed, se...
Name: body, dtype: object

In [ ]:
import nltk
st = nltk.PorterStemmer()
def stemming_on_text(data):
    text = [st.stem(word) for word in data]
    return data
df['title']= df['title'].apply(lambda x: stemming_on_text(x))
df['title'].head()

0    [how, shoot, baby, medic, finds, daughter, kil...
1    [they, told, apply, tomato, sauce, body, look,...
2    [elvis, film, director, calls, presley, family...
3    [indonesian, mum, fire, feeding, baby, dish, c...
4    [tanks, ammo, germanys, ukraine, pledges, show...
Name: title, dtype: object

In [ ]:
import nltk
st = nltk.PorterStemmer()
def stemming_on_text(data):
    text = [st.stem(word) for word in data]
    return data
df['body']= df['body'].apply(lambda x: stemming_on_text(x))
df['body'].head()

0    [like, tuesday, morning, angel, garza, woke, e...
1    [singapore, fraudsters, posing, immigration, c...
2    [cannes, france, film, director, baz, luhrmann...
3    [parents, generally, encouraged, include, fibr...
4    [berlin, four, weeks, ago, germany, agreed, se...
Name: body, dtype: object

In [ ]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [ ]:
lm = nltk.WordNetLemmatizer()
def lemmatizer_on_text(data):
    text = [lm.lemmatize(word) for word in data]
    return data
df['body'] = df['body'].apply(lambda x: lemmatizer_on_text(x))
df['body'].head()

0    [like, tuesday, morning, angel, garza, woke, e...
1    [singapore, fraudsters, posing, immigration, c...
2    [cannes, france, film, director, baz, luhrmann...
3    [parents, generally, encouraged, include, fibr...
4    [berlin, four, weeks, ago, germany, agreed, se...
Name: body, dtype: object

In [ ]:
lm = nltk.WordNetLemmatizer()
def lemmatizer_on_text(data):
    text = [lm.lemmatize(word) for word in data]
    return data
df['title'] = df['title'].apply(lambda x: lemmatizer_on_text(x))
df['title'].head()

0    [how, shoot, baby, medic, finds, daughter, kil...
1    [they, told, apply, tomato, sauce, body, look,...
2    [elvis, film, director, calls, presley, family...
3    [indonesian, mum, fire, feeding, baby, dish, c...
4    [tanks, ammo, germanys, ukraine, pledges, show...
Name: title, dtype: object

In [ ]:
from textblob import TextBlob

In [ ]:
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
stopwords = set(STOPWORDS)

In [ ]:
def getSubjectivity(text):
    return TextBlob('text').sentiment.subjectivity

#create a function to get the polarity
def getpolarity(text):
    return TextBlob('text').sentiment.polarity

#create two new columns
df['subjectivity']=df['body'].apply(getSubjectivity)
df['polarity']=df['body'].apply(getpolarity)

#show the new datafraem with the new columns
df.head()

,field_publication_date,title,body,path,catagory,subjectivity,polarity,analysis
0,2022-05-27 09:09:12,"[how, shoot, baby, medic, finds, daughter, kil...","[like, tuesday, morning, angel, garza, woke, e...",/world/how-do-you-shoot-my-baby-medic-finds-ou...,world,0.0,0.0,neutral
1,2022-05-27 08:42:18,"[they, told, apply, tomato, sauce, body, look,...","[singapore, fraudsters, posing, immigration, c...",/singapore/they-told-me-apply-tomato-sauce-my-...,singapore,0.0,0.0,neutral
2,2022-05-27 08:25:07,"[elvis, film, director, calls, presley, family...","[cannes, france, film, director, baz, luhrmann...",/entertainment/elvis-film-director-calls-presl...,entertainment,0.0,0.0,neutral
3,2022-05-26 10:48:00,"[indonesian, mum, fire, feeding, baby, dish, c...","[parents, generally, encouraged, include, fibr...",/asia/indonesian-mum-under-fire-feeding-baby-d...,asia,0.0,0.0,neutral
4,2022-05-26 10:11:00,"[tanks, ammo, germanys, ukraine, pledges, show...","[berlin, four, weeks, ago, germany, agreed, se...",/world/tanks-no-ammo-germanys-ukraine-pledges-...,world,0.0,0.0,neutral

In [ ]:
def getAnalysis(score):
    if score<0:
        return 'negative'
    elif score==0:
        return 'neutral'
    else:
        return 'positive'
    
df['analysis']=df['polarity'].apply(getAnalysis)

#show dataFrame
df.head()

,field_publication_date,title,body,path,catagory,subjectivity,polarity,analysis
0,2022-05-27 09:09:12,"[how, shoot, baby, medic, finds, daughter, kil...","[like, tuesday, morning, angel, garza, woke, e...",/world/how-do-you-shoot-my-baby-medic-finds-ou...,world,0.0,0.0,neutral
1,2022-05-27 08:42:18,"[they, told, apply, tomato, sauce, body, look,...","[singapore, fraudsters, posing, immigration, c...",/singapore/they-told-me-apply-tomato-sauce-my-...,singapore,0.0,0.0,neutral
2,2022-05-27 08:25:07,"[elvis, film, director, calls, presley, family...","[cannes, france, film, director, baz, luhrmann...",/entertainment/elvis-film-director-calls-presl...,entertainment,0.0,0.0,neutral
3,2022-05-26 10:48:00,"[indonesian, mum, fire, feeding, baby, dish, c...","[parents, generally, encouraged, include, fibr...",/asia/indonesian-mum-under-fire-feeding-baby-d...,asia,0.0,0.0,neutral
4,2022-05-26 10:11:00,"[tanks, ammo, germanys, ukraine, pledges, show...","[berlin, four, weeks, ago, germany, agreed, se...",/world/tanks-no-ammo-germanys-ukraine-pledges-...,world,0.0,0.0,neutral

In [ ]:
#create two new dataframe all of the positive text
df_positive = df[df['analysis'] == 'positive']

# create two new dataframe all of the negative text
df_negative = df[df['analysis'] == 'negative']

# create two new dataframe all of the neutral text
df_neutral=df[df['analysis'] == 'neutral']

In [ ]:
tb_counts = df.analysis.value_counts()
tb_counts

neutral    20000
Name: analysis, dtype: int64